.details-section {
  width: 90%;
  margin: 10px auto;
}
.details-part {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.destination-form {
  width: 25%;
  background-color: rgb(235, 230, 232);
  padding: 15px;
  border-radius: 5px;
  margin-right: 25px;
}
.destination-form input {
  padding: 8px;
  font-size: 15px;
  margin: 15px 0;
  outline: none;
  border: none;
  width: 98%;
}
.map-area {
  width: 65%;
}
.map-area iframe {
  height: 550px;
}
.search-btn {
  width: 100%;
  background-color: rgb(255, 60, 0);
}
.fare-details {
  display: flex;
  justify-content: space-between;
  background-color: rgba(253, 250, 250, 0.822);
  margin: 10px 0;
  padding: 20px 10px;
  border-radius: 10px;
}
.fare-details img {
  width: 20%;
}
@media (max-width: 598px) {
  .riding-container {
    background-image: url("../../images/backg1.jpg");
    background-position: center;
    background-size: cover;
  }
  .details-part {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 10px auto;
  }
  .destination-form {
    width: 90%;
    margin: 0 auto;
  }
  .fare-details {
    margin: 5px 0;
    padding: 10px 10px;
  }
  .fare-details img {
    width: 15%;
  }
  .map-area {
    width: 90%;
  }
  .map-area iframe {
    height: 350px;
  }
}
