.cart-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main-section {
}
.main-container {
  width: 87%;
  margin: 0 auto;
}
@media (max-width: 598px) {
  .cart-info {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-section {
    background-image: url("../../images/backg1.jpg");
    background-size: cover;
    background-position: center;
  }
}
