.header-section {
  background-color: rgba(238, 230, 238, 0.781);
}
.navbar-width {
  width: 87%;
  margin: 0 auto;
}
.flex-navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-space {
  margin-left: 550px;
}
.navbar-nav {
  font-weight: bold;
  font-size: 16px;
  color: rgb(2, 56, 38);
}
button {
  padding: 8px 22px;
  font-size: 17px;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  background-color: rgb(236, 236, 77);
}
