.login-area {
  margin: 0 auto;
  padding: 0 20px;
}
input {
  padding: 6px;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(2, 102, 52);
  background-color: white;
}
.form-section {
  width: 37%;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(246, 250, 246);
  border-radius: 10px;
  text-align: center;
}

.submit-btn {
  background-color: rgb(255, 60, 0);
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn button {
  outline: none;
  border: none;
  padding: 0;
  background-color: white;
  color: rgb(255, 60, 0);
  cursor: pointer;
  margin-left: 10px;
  margin-top: -20px;
  font-size: 20px;
}
.google-btn {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px gray;
}
.google-btn img {
  width: 10%;
  margin: auto 0;
  margin-right: 30px;
}
@media (max-width: 598px) {
  .form-section {
    width: 80%;
  }
}
